
body{
  background-color: hsl(240, 78%, 98%);
}

.card-container{
  display: flex;
  height: 487.2px;
}

.card-holder{
  width: 22rem;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s;

}

.card {
  position: absolute;
  text-align: center;
  width: 18rem;
  border-radius: 12px;
  border: none;
  backface-visibility: hidden;
  transition-duration: 1s;
}

.back{
  transform: rotateY(180deg);
}


.card-holder:hover{
  transform: rotateY(180deg);
}

.card p{
  margin: 1rem 0;
  font-weight: 700;
}

.top p,.bottom p{
  color: hsl(233, 13%, 49%);
}

.top h1,.bottom h1{
  color: hsl(232, 13%, 33%);
}

.top h3,.bottom h3{
  color: hsl(233, 13%, 49%);
}


.hidden {
  display: none;
}

.top, .bottom{
	background-color: #fff;
  padding: 2rem;

}

.top{
  border-radius:  12px 0 0 12px;

}

.bottom{
  border-radius: 0 12px 12px 0;
  transition-delay: 1s;
}

.middle{
	color: hsl(240, 78%, 98%);
	background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  padding: 3.5rem 2rem;
  transition-delay: 0.5s;
}

.dollar{
	font-size: 2.5rem;
  margin-right: 10px;
}

.btn{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 1px;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  padding: 14px 20px 14px 20px;
  width:100%;
  text-decoration: none;
  font-weight: 700;
  margin-top: 2rem;
  outline: none;
  transition: 0.2s;
}

.btn:active{
  color: hsl(237, 63%, 64%);
  background: none;
  border: 1px solid hsl(232, 13%, 33%);
  transform: scale(0.95);
}


.middle-button{
  background: #fff;
  color: hsl(237, 63%, 64%);
}

.middle-button:active{
  color: #fff;
  background: none;
  border: 1px solid #fff;
  transform: scale(0.95);
}
